# Node / TypeScript
node_modules/
dist/

# Env / secrets
.direnv
.env

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor cruft
.DS_Store
.idea/
.vscode/
*.swp
# Node / TypeScript
node_modules/
dist/

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor cruft
.DS_Store
.idea/
.vscode/
*.swp

